.green {
	background-color: green;
}
.red {
	background-color: red;
}
p {
	color: white;
	font-size: 12px;
}
.my-container {
	padding-left: 0;
}
img {
	width: 100%;
}
body {
	background-color: grey;
	 margin-left: 5px;
}
h1 {
	text-align: center;
	margin-top: 30px;
	margin-bottom: 5px;
	color: white;
	font-family: "HelveticaNeue-Light";
	font-size: 60px;
}
.card {
	background-color: grey;
	border-color: #ACF1D2;
}
.right {
	border-color: grey;
	border-top-color: #ACF1D2;
}
.slide{
	border-color: grey;
	border-bottom-color: #ACF1D2;
	margin-bottom: 20px;
	}
h2 {
	font-family: 'League Script', cursive;
	font-weight: lighter;
	color: white;
	font-size: 31px;
	font
}
.quote {
	color: white;
	font-weight: lighter;
	font-size: 10px;
}
h3 {
	color: white;
}
h4 {
	margin-top: 5px;
	margin-bottom: 10px;
}
.card {
	margin-bottom: 10px;
}
.fa {
	color: #ACF1D2;
	font-size: 25px;
}
.card-footer {
	text-align: right;
	color: grey;
	background-color: grey;
	border-color: grey;
}
a {
	color: grey;
	}

.navbar{
	position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
	}
.card {
	border: 
}
.input-group-btn{
	text-align: right;
	}
.whatever{
	border-color: grey;
	border-bottom-color: #ACF1D2;
	margin-top: 256px;
	}
.p-description{
	font-weight: lighter;
	font-size: 14px;
	}

.black{
	border-color: grey;
	border-top-color: #ACF1D2;
	color: black;
	text-align: center;
	}